<mat-card>
  <mat-toolbar>
    <mat-toolbar-row class="toolbar">
      <span>{{ adgroup.name }}<br />
      {{ adgroup.campaign ? adgroup.campaign.name : 'No campaign'}}
      </span>
      <div class="toolbar-actions">
        <button mat-button color="primary" (click)="editAdgroup()" matTooltip="Edit AdGroup info">Edit</button>
        <span aria-hidden="true" class="toolbar-actions-spacer"></span>
        <button mat-button color="warn" (click)="onDeleteAdgroup()" matTooltip="Delete AdGroup and Keywords">Delete <mat-icon>delete</mat-icon></button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

<app-add-keyword
  [selectedMatchOption]="adgroup.matchOption"
  (selectedMatchOptionChanged)="onNewKeywordMatchOptionChanged($event)"

  (addKeyword)="onAddKeyword($event)"
></app-add-keyword>

<app-no-keyword *ngIf="(adgroup.keywords.length) === 0"></app-no-keyword>

<div [@listAnimation]="adgroup.keywords.length">
    <p *ngFor="let keyword of adgroup.keywords">
      <app-keyword-card
        [keyword]="keyword"
        [selected]="keyword.selected"

        (editKeywordText)="onEditKeywordText($event)"
        (removeKeyword)="onRemoveKeyword($event)"
        (toggleKeywordSelected)="onToggleKeywordSelected($event)"
        (editKeywordModifier)="onModifierChanged($event)"
        ></app-keyword-card>
    </p>
</div>

<app-keyword-footer-actions
  [keywordsCount]="adgroup.keywords.length"
  [keywordsSelectedCount]="adgroup.keywordSelectedCount"
  [keywordsAllSelected]="adgroup.keywordAllSelected"

  (toggleAllSelected)="onToggleAllSelected()"
  (removeSelectedKeywords)="onRemoveSelectedKeywords()"
  (removeAllKeywords)="onRemoveAllKeywords()"
  (copyAllKeywords)="onCopyAllKeywords()"
  (pasteKeywords)="onPasteKeywords($event)"
></app-keyword-footer-actions>
</mat-card>
