.mat-chip:not(.mat-basic-chip).tag-chip {
  position: relative;
}

.mat-list-text {
  flex-direction: row;
}

.chip-modifier {
  color: red;
  font-size: 1.5em;
  line-height: 1.5;
}

.chip-modifier-before {
  left: 0;
  border-radius: 24px 0 0 24px;
}

.chip-modifier-after {
  right: 0;
  border-radius: 0 24px 24px 0;
}

.clipboard {
  height: 0;
  width: 0;
  position: absolute;
  left: -1000px;
  top: 0;
}


.keyword-card {
  margin-bottom: 10px;
}

.keyword-entry-container {
  display: flex;
  justify-content: space-between;
}

.match-options-selector {
  width: 15%;
}

.keyword-entry-card {
  width: 80%;
  display: flex;
  padding: 10px 10px 10px 20px;
}


.keyword-entry-card input {
  border: 0;
  flex-grow: 1;
  font-size: 20px;
}
