<mat-select matTooltip="Click to change" [ngModel]="modifier" (change)="onModifierChanged($event.value)">
  <mat-option [value]="keywordModifiers.BroadMatch" matTooltip="Broad Match">
    <span class="keyword-icon">B</span>
  </mat-option>
  <mat-option [value]="keywordModifiers.PhraseMatch" matTooltip='Phrase Match i.e "Match this phrase"'>
    <span class="keyword-icon">PM</span>
  </mat-option>
  <mat-option [value]="keywordModifiers.BroadMatchModifier" matTooltip="Broad Match Modifier i.e '+broad +match +modifier'">
    <span class="keyword-icon">BM</span>
  </mat-option>
  <mat-option [value]="keywordModifiers.ExactMatch" matTooltip="Exact Match i.e [Exact Match]">
    <span class="keyword-icon">E</span>
  </mat-option>
  <mat-option [value]="keywordModifiers.NegativeMatch" matTooltip="Negative Match i.e -Negative Match">
    <span class="keyword-icon">N</span>
  </mat-option>
</mat-select>
