:host {
  display: inline-flex;
}

.keyword-icon, mat-select /deep/ .mat-select-value {
  background-color: #333333;
  color: white;
  border: 1px solid #444444;

  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

mat-select /deep/ .mat-select-value {
  max-width: initial;
}

mat-select {
  width: 50px;
}
