<section class="keyword-entry-container">
  <mat-card class="keyword-entry-card">
    <input type="text" placeholder="Add keyword..." [ngModel]="newKeywordText" (keyup)="setAddKeywordText($event.target.value)" (keyup.enter)="onAddKeyword($event)" />

    <app-keyword-icon [modifier]="selectedMatchOption" (change)="onNewKeywordMatchOptionChanged($event)"></app-keyword-icon>

    <button mat-raised-button color="primary" matTooltip="Add keyword" matTooltipPosition="left" [disabled]="newKeywordText.length === 0" (click)="onAddKeywordButtonClicked()">Add <mat-icon>add</mat-icon></button>
  </mat-card>
</section>

<p>Enter a keyword and hit the button or press the enter key. Keyword will be added and can be changed later.</p>
