<clr-modal [(clrModalOpen)]="modalOpen" (clrModalOpenChange)="close()">
  <h3 class="modal-title">{{ editModal ? 'Rename keyword' : 'Add new keyword' }}</h3>

  <div class="modal-body">
    <form [formGroup]="modalForm" clrForm clrLayout="horizontal">
      <clr-input-container>
        <label for="keyword">Name</label>
        <input clrInput type="text" id="keyword" name="keyword" formControlName="keyword" #textInput (keyup.enter)="closeWithData()" required autofocus />

        <clr-control-error>A name must be provided</clr-control-error>
      </clr-input-container>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label" for="modifier">Modifier</label>
        <div class="clr-control-container clr-col-md-10 clr-col-xs-12" [ngClass]="{'clr-error': modalForm.get('modifier').invalid }">
          <div class="clr-select-wrapper">
            <select id="modifier" name="modifier" formControlName="modifier" #modifier required>
              <option value="" disabled readonly>Please select</option>

              <option [ngValue]="keywordModifiers.BroadMatch">
                <span class="keyword-icon">Broad match</span>
              </option>
              <option [ngValue]="keywordModifiers.PhraseMatch">
                <span class="keyword-icon">Phrase match</span>
              </option>
              <option [ngValue]="keywordModifiers.BroadMatchModifier">
                <span class="keyword-icon">Broad match modifier</span>
              </option>
              <option [ngValue]="keywordModifiers.ExactMatch">
                <span class="keyword-icon">Exact match</span>
              </option>
              <option [ngValue]="keywordModifiers.NegativeMatch">
                <span class="keyword-icon">Negative</span>
              </option>
            </select>

            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
        </div>
      </div>
    </form>

    <p>Enter a keyword and hit the button or press the enter key. Keyword will be added and can be changed later.</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="closeWithData()">Ok</button>
  </div>
</clr-modal>
