<form [formGroup]="form" clrForm clrLayout="horizontal">
  <div class="clr-form-control clr-row">
    <label class="clr-control-label" for="modifier">Modifier</label>

    <div class="clr-control-container clr-col-md-10 clr-col-xs-12" [ngClass]="{'clr-error': form.get('modifier').invalid }">
      <div class="clr-select-wrapper">
        <select id="modifier" name="modifier" formControlName="modifier" #modifier required>
          <option value="">Please select</option>

          <option [ngValue]="keywordModifiers.BroadMatch">
            <span class="keyword-icon">B</span>
          </option>
          <option [ngValue]="keywordModifiers.PhraseMatch">
            <span class="keyword-icon">PM</span>
          </option>
          <option [ngValue]="keywordModifiers.BroadMatchModifier">
            <span class="keyword-icon">BM</span>
          </option>
          <option [ngValue]="keywordModifiers.ExactMatch">
            <span class="keyword-icon">E</span>
          </option>
          <option [ngValue]="keywordModifiers.NegativeMatch">
            <span class="keyword-icon">N</span>
          </option>
        </select>

        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
      </div>
    </div>
  </div>
</form>
