<clr-main-container>
  <div class="alert alert-app-level">
    ...
  </div>
  <clr-header class="header header-6">
    <div class="branding">
      <a routerLink="keywords" class="nav-link">
        <img src="/assets/favicon-32x32.png" />&nbsp;&nbsp;
        <span class="title">Porthole</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a routerLink="keywords" routerLinkActive="active" *ngIf="(licenceValid$ | async) === true" class="nav-link"><span class="nav-text">Keywords</span></a>
      <a routerLink="about" routerLinkActive="active" class="nav-link"><span class="nav-text">About</span></a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>

      <section>
        <p>Porthole &copy; Parity shift 2018</p>
      </section>
    </div>
  </div>
</clr-main-container>
