<mat-card class="keyword-card">
  <mat-checkbox [checked]="keyword.selected" (change)="onToggleKeywordSelected()"></mat-checkbox>
  <app-keyword-icon [modifier]="keyword.modifier" (change)="onModifierChanged($event)"></app-keyword-icon>
  <mat-form-field [hintLabel]="hintText">
    <input type="text" matInput placeholder="Keyword" [value]="keyword.text" (change)="onEditKeywordText($event.target.value)" />
  </mat-form-field>
  <button mat-button color="warn" (click)="onRemoveKeyword()">
    Delete <mat-icon>delete</mat-icon>
  </button>
</mat-card>
