<div class="card-header">
  <span>{{ addgroup.name }}</span>
  <p class="p3">{{ (campaign$ | async)?.name }}</p>
</div>

<div class="card-block">
  <clr-datagrid [(clrDgSelected)]="selected">
    <clr-dg-placeholder>No keywords</clr-dg-placeholder>

    <clr-dg-action-bar>
      <app-action-bar-button-stack>
        <div>
          <div class="btn-group">
            <button type="button" class="btn btn-outline btn-sm" (click)="showAddKeywordModal()">Add</button>
            <button type="button" class="btn btn-outline btn-danger-outline btn-sm" [ngClass]="{'disabled': (keywords$ | async)?.length === 0}" [attr.aria-disabled]="(keywords$ | async)?.length === 0" [disabled]="(keywords$ | async)?.length === 0" (click)="onDeleteAllKeywords()">Delete all</button>
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-outline btn-sm" [ngClass]="{'disabled': (keywords$ | async)?.length === 0}" [attr.aria-disabled]="(keywords$ | async)?.length === 0" [disabled]="(keywords$ | async)?.length === 0" (click)="onCopyKeywords()">Copy </button>
            <button type="button" class="btn btn-outline btn-sm" [ngClass]="{'disabled': (keywords$ | async)?.length === 0}" [attr.aria-disabled]="(keywords$ | async)?.length === 0" [disabled]="(keywords$ | async)?.length === 0" (click)="onCopyNegativeKeywords()">Copy negative</button>
            <button type="button" class="btn btn-outline btn-sm" [ngClass]="{'disabled': (keywords$ | async)?.length === 0}" [attr.aria-disabled]="(keywords$ | async)?.length === 0" [disabled]="(keywords$ | async)?.length === 0" (click)="showPasteKeywordsModal()">Paste</button>
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-outline btn-sm" (click)="onCsvExport()">Export to CSV </button>
          </div>
        </div>

        <div>
          <div class="btn-group">
            <button type="button" class="btn btn-outline btn-sm" [ngClass]="{'disabled':  selected.length === 0}" [attr.aria-disabled]="selected.length === 0" [disabled]="selected.length === 0" (click)="onDeleteKeywords()"><clr-icon shape="close"></clr-icon> Delete selected</button>
            <button type="button" class="btn btn-outline btn-sm" [ngClass]="{'disabled':  selected.length === 0}" [attr.aria-disabled]="selected.length === 0" [disabled]="selected.length === 0" (click)="showChangeAdgroupModal()">Move keywords</button>
            <button type="button" class="btn btn-outline btn-sm" [ngClass]="{'disabled':  selected.length === 0}" [attr.aria-disabled]="selected.length === 0" [disabled]="selected.length === 0" (click)="showChangeModifierModal()">Change modifier</button>
          </div>
        </div>
      </app-action-bar-button-stack>
    </clr-dg-action-bar>

    <clr-dg-column [clrDgField]="'name'" [clrDgSortBy]="nameComparator">Name
      <clr-dg-string-filter [clrDgStringFilter]="nameFilter"></clr-dg-string-filter>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'modifier'">Modifier
      <clr-dg-filter [clrDgFilter]="modifierFilter">
        <app-modifier-filter #modifierFilter></app-modifier-filter>
      </clr-dg-filter>
    </clr-dg-column>

    <clr-dg-row *clrDgItems="let keyword of keywords$ | async" [clrDgItem]="keyword">
      <clr-dg-action-overflow>
        <button class="action-item" (click)="showEditKeywordModal(keyword)">Edit</button>
      </clr-dg-action-overflow>

      <clr-dg-cell>{{ keyword.text }}</clr-dg-cell>
      <clr-dg-cell>{{ keyword.modifier | keywordModifier }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} keywords
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<app-add-keyword [modalOpen]="addKeywordModal" [editModal]="editKeyword" (modalClosed)="onAddKeyword($event)"></app-add-keyword>
<app-paste-keywords [modalOpen]="pasteModal" (modalClosed)="onPasteKeywords($event)"></app-paste-keywords>
<app-change-adgroup-modal [modalOpen]="changeAdgroupModal" (modalClosed)="onChangeAdgroup($event)"></app-change-adgroup-modal>
<app-change-modifier-modal [modalOpen]="changeModifierModal" (modalClosed)="onChangeModifier($event)"></app-change-modifier-modal>
