<div class="card-header"><span>{{ addgroup.name }}</span></div>

<div class="card-block">
  <clr-datagrid [(clrDgSelected)]="selected">
    <clr-dg-placeholder>No keywords</clr-dg-placeholder>

    <clr-dg-action-bar>
      <div class="btn-group">
        <!--<button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()"><clr-icon shape="plus"></clr-icon> Add-->
          <!--to group</button>-->
        <button class="btn btn-outline btn-sm" type="button" (click)="showAddKeywordModal()">Add</button>
        <button type="button" class="btn btn-sm btn-secondary" [ngClass]="{'disabled':  selected.length === 0}" [attr.aria-disabled]="selected.length === 0" [disabled]="selected.length === 0" (click)="onDeleteKeywords()"><clr-icon shape="close"></clr-icon> Delete</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="showPasteKeywordsModal()">Paste</button>
        <!--<button type="button" class="btn btn-sm btn-secondary" (click)="onEdit()" *ngIf="selected.length == 1"><clr-icon shape="pencil"></clr-icon> Edit</button>-->
      </div>
    </clr-dg-action-bar>

    <clr-dg-column [clrDgField]="'name'" [clrDgSortBy]="nameComparator">Name
      <clr-dg-string-filter [clrDgStringFilter]="nameFilter"></clr-dg-string-filter>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'modifier'">Modifier</clr-dg-column>

    <clr-dg-row *clrDgItems="let keyword of keywords$ | async" [clrDgItem]="keyword">
      <clr-dg-action-overflow>
        <button class="action-item" (click)="showEditKeywordModal(keyword)">Edit</button>
      </clr-dg-action-overflow>

      <clr-dg-cell>{{ keyword.text }}</clr-dg-cell>
      <clr-dg-cell>{{ keyword.modifier | keywordModifier }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} keywords
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<app-add-keyword [modalOpen]="addKeywordModal" [editModal]="editKeyword" (modalClosed)="onAddKeyword($event)"></app-add-keyword>
<app-paste-keywords [modalOpen]="pasteModal" (modalClosed)="onPasteKeywords($event)"></app-paste-keywords>

<!--<mat-card>-->
  <!--<mat-toolbar>-->
    <!--<mat-toolbar-row class="toolbar">-->
      <!--<span>{{ (addgroup$ | async ).name }}<br />-->
      <!--{{ ( campaign$ | async ) ? (campaign$ | async ).name : 'No campaign'}}-->
      <!--</span>-->
      <!--<div class="toolbar-actions">-->
        <!--<button mat-button color="primary" (click)="editAdgroup()" matTooltip="Edit AdGroup info">Edit</button>-->
        <!--<span aria-hidden="true" class="toolbar-actions-spacer"></span>-->
        <!--<button mat-button color="warn" (click)="onDeleteAdgroup()" matTooltip="Delete AdGroup and Keywords">Delete <mat-icon>delete</mat-icon></button>-->
      <!--</div>-->
    <!--</mat-toolbar-row>-->
  <!--</mat-toolbar>-->

<!--<app-add-keyword-->
  <!--[selectedMatchOption]="(addgroup$ | async ).matchOption"-->
  <!--(selectedMatchOptionChanged)="onNewKeywordMatchOptionChanged($event)"-->

  <!--(addKeyword)="onAddKeyword($event)"-->
<!--&gt;</app-add-keyword>-->

<!--<app-no-keyword *ngIf="((keywords$ | async).length) === 0"></app-no-keyword>-->

<!--&lt;!&ndash;<div [@listAnimation]="(keywords$ | async).length">&ndash;&gt;-->
<!--<div>-->
    <!--<p *ngFor="let keyword of keywords$ | async">-->
      <!--<app-keyword-card-->
        <!--[keyword]="keyword"-->
        <!--[selected]="keyword.selected"-->

        <!--(editKeywordText)="onEditKeywordText($event)"-->
        <!--(removeKeyword)="onRemoveKeyword($event)"-->
        <!--(toggleKeywordSelected)="onToggleKeywordSelected($event)"-->
        <!--(editKeywordModifier)="onModifierChanged($event)"-->
        <!--&gt;</app-keyword-card>-->
    <!--</p>-->
<!--</div>-->

<!--<app-keyword-footer-actions-->
  <!--[keywordsCount]="(keywords$ | async).length"-->
  <!--[keywordsSelectedCount]="keywordsSelectedCount$ | async"-->
  <!--[keywordsAllSelected]="keywordsAllSelected$ | async"-->

  <!--(toggleAllSelected)="onToggleAllSelected()"-->
  <!--(removeSelectedKeywords)="onRemoveSelectedKeywords()"-->
  <!--(removeAllKeywords)="onRemoveAllKeywords()"-->
  <!--(copyKeywords)="onCopyKeywords()"-->
  <!--(copyNegativeKeywords)="onCopyNegativeKeywords()"-->
  <!--(pasteKeywords)="onPasteKeywords($event)"-->
  <!--(pasteNegativeKeywords)="onPasteNegativeKeywords($event)"-->
  <!--(csvExport)="onCsvExport()"-->
<!--&gt;</app-keyword-footer-actions>-->
<!--</mat-card>-->
